
* {
	font-family: sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

h1 {
	text-align: center;
}

button {
	padding: 5px;
  	border: none;
	max-width: 100%;
}

img {
	display: block;
	max-width: 100%;
}