[submodule "Applications/GeodeWeb"]
	path = Applications/GeodeWeb
	url = https://github.com/Iemand005/GeodeWeb
[submodule "Applications/FrostedColours"]
	path = Applications/FrostedColours
	url = https://github.com/Iemand005/FrostedColours.git
[submodule "Applications/MPTool"]
	path = Applications/MPTool
	url = https://github.com/Iemand005/MPTool.git
[submodule "Applications/StereogramMaker"]
	path = Applications/StereogramMaker
	url = https://github.com/Iemand005/StereogramMaker
