[submodule "Applications/GeodeWeb"]
	path = Applications/GeodeWeb
	url = https://github.com/Iemand005/GeodeWeb
[submodule "Applications/FrostedColours"]
	path = Applications/FrostedColours
	url = https://github.com/Iemand005/FrostedColours.git
[submodule "Applications/MPTool"]
	path = Applications/MPTool
	url = https://github.com/Iemand005/MPTool.git
[submodule "Applications/StereogramMaker"]
	path = Applications/StereogramMaker
	url = https://github.com/Iemand005/StereogramMaker
[submodule "Applications/RenderDonkey/WebGraphics"]
	path = Applications/RenderDonkey/WebGraphics
	url = https://github.com/Iemand005/WebGraphics
[submodule "Applications/Cube/WebGraphics"]
	path = Applications/Cube/WebGraphics
	url = https://github.com/Iemand005/WebGraphics
[submodule "Scripts/WebGraphics"]
	path = Scripts/WebGraphics
	url = https://github.com/Iemand005/WebGraphics
[submodule "Applications/Cyanide"]
	path = Applications/Cyanide
	url = https://github.com/cyanide-again/lvos.git
[submodule "Scripts/WebAura"]
	path = Scripts/WebAura
	url = https://github.com/Iemand005/WebAura
[submodule "Scripts/WebAudioVisualizer"]
	path = Scripts/WebAudioVisualizer
	url = https://github.com/Iemand005/WebAudioVisualizer
[submodule "Scripts/WebMedia"]
	path = Scripts/WebMedia
	url = https://github.com/Iemand005/WebMedia
[submodule "Applications/Tappy"]
	path = Applications/Tappy
	url = https://github.com/Iemand005/Tappy
[submodule "Applications/AIOneWeb"]
	path = Applications/AIOneWeb
	url = https://github.com/Iemand005/AIOneWeb
[submodule "Applications/WebGPUFluidSim"]
	path = Applications/WebGPUFluidSim
	url = https://github.com/Iemand005/WebGPUFluidSim
[submodule "LVOS-dist"]
	path = LVOS-dist
	url = https://github.com/Iemand005/LVOS-dist
