#dock{
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 300px;
    z-index: 10000;
    overflow: hidden;
    /*transform: rotate(180deg) scaleX(-1);*/
    transform-origin: top;
    border-radius: 5px;
    left: 50%; /* This method of centering the absolute element works for Internet Explorer 11 */
    transform: rotateX(45deg) translateX(-50%);
    background-color: lightgray;
    perspective: 300px;
    box-shadow: 0 0 10px black;
    background: linear-gradient(0deg, #b2b2b2, #737373);
}

#reflection{
    /*opacity: 0.5;*/
    transform: scaleY(-1) rotateX(45deg)/*rotateX(325deg)*/;
    transform-origin: top;
    /*height: 100%;
    width: 100%;*/
    position: absolute;
    width: 100%;
    height: 100%;
}

body[blur] #reflection{
    filter: blur(2px);
}

body:not([blur]) dialog > article{
    backdrop-filter: none;

}

#reflection > *{
    opacity: 0.3;
    /*transform: scaleY(-1);*/
}

#desktop{
    /*/width: 100%;
    /* height: 14px; 
    perspective: 200px;*/
        /* transform: rotateY(180deg); */
    
    background-color: orange;
    bottom: 0;
    position: absolute;
    height: 100%;
    pointer-events: none;
    overflow: visible;
    transform-style: preserve-3d;
    /* transition: all 1000ms ease-in-out, opacity 1s 500ms; */
    transition: all 1000ms ease-in-out;
    transition: all 600ms ease-out;
    /* transition: none; */
}

#wallpaper{
    background-color: orange;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#windows, #metro{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#windows{
    overflow: hidden;
    perspective: 300px;
    justify-content: center;
    /* transform: rotateY(180deg); */
    display: flex;
    /* transform: rotateY(180deg) translateZ(1px); */
    /*translate: translateZ(1px);*/
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
    pointer-events: none;
    overflow: hidden;
    /*Kenia*/
}

#metro{
    height: 100%;
    width: 100%;
    /*transform: rotateX(180deg);*/
    background: green;
    /* transition: all 1s linear; */
    /*position: absolute;
    transform: rotateX(180deg) translateZ(1px);*/
}

#metro > *{
    height: 100%;
    width: 100%;
}

#desktop[flipped], #metro{
    /* transition: transform 1000ms; */
    transform: rotateY(180deg);
}

#windows, #metro{
    transition: opacity 50ms ease-out 300ms;
    /* transition: height 1000ms 00ms; */
}

#desktop[flipped] > #windows{
    /* animation: flip 1s linear; */
    /*/transform: rotateY(180deg) translateZ(0px);
    transform: rotateY(180deg) translateZ(0px);/*/
    translate: 0 0 1px;
    /* height: 0%; */
    /* animation: flip 1s forwards; */
    opacity: 0;
    /* bottom: unset; */
}

#desktop[flipped] > #metro{
    /* transform: translateZ(1px); */
    /* opacity: 1; */
    /* animation: flip 1s linear reverse; */
    /* animation: flip 1s ease-in-out linear reverse; */
    /* translate: none; */
    /* height: 100%; */
    /* height: 1; */
    /* translate: 0 0 -1px; */
    opacity: 1;
}

#desktop:not([flipped]) > #windows{
    /*/transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);/*/
    /* opacity: 1; */
    /* animation: flip 1s linear reverse; */
    /* transform: translateZ(0px); */
    /* translate: none; */
    /* opacity: 1; */
    /* height: 100%; */
    opacity: 1;
    /* translate: 0 0 -1px; */
}

#desktop:not([flipped]) > #metro{
    /* transform: translateZ(1px); */
    /* animation: flip 1s linear; */
    /*transform: translateZ(0px);*/
    /* opacity: 0; */
    translate: 0 0 -1px;
    /* height: 0%; */
    /* opacity: 0; */
    /* bottom: unset; */
    /* animation: flip 1s forwards; */
    /* transition: linear  */
    opacity: 0;
    /* animation: 0s ease-in-out 500ms forwards flip; */
    /* transition: opacity 1s linear 200ms opacity; */
}

@media (pointer:none), (pointer:coarse){

}

@media only screen and (max-width: 300px), (pointer:none), (pointer:coarse){
    #desktop{ transform: rotateY(180deg) !important }
    
    #windows{
        translate: 0 0 1px;
        opacity: 0 !important;
    }

    #metro{
        translate: none !important;
        opacity: 1 !important;
    }
}

@keyframes flip{
    /* 0%{
        /* transform: rotateY(0deg); 
        opacity: 1;
    }
    49%{
        /* transform: rotateY(90deg); 
        opacity: 1;
    }
    50%{
        /* transform: rotateY(90deg); 
        opacity: 0;
    }
    100%{
        /* transform: rotateY(180deg); 
        opacity: 0;
    } */
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}