/*
dialog#console form > input{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}*/


form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    flex-wrap: nowrap;
}

table{
    width: 100%;
}

table > tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.123);
}

table > tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.123);
}