<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.php"/>
        <add value="LVOS.html"/>
        <add value="index.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.6" debug="true"/>
  </system.web>
</configuration>