
canvas{
    width: 100%;
}

button#play {
    font-family: "Segoe UI Symbol";
    font-size: 25px;
    padding: 0;
    line-height: 25px;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    line-height: 0px;
    height: 40px;
    width: 40px;
    padding-bottom: 5px;
}

input[type=range], input[type=range]:focus::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track, input[type=range]::-ms-track{
    background: orange;
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb{
    
}