
div.segmentdisplay{
    border-color: black;
}

div.segmentdisplay > div{
    width: 50px;
    height: 50px;
    border-width: 10px;
    display: block;
    border-style: solid;
    border-color: inherit;
}

div.segmentdisplay > div:after{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border: inherit;
    /* opacity: inherit; */
}

div.segmentdisplay > div.segmentx{
    height: 0px;
    margin-left: 10px;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-width: 0;
}

div.segmentdisplay > div.segmentx:after{
    margin-left: -10px;
    margin-top: 10px;
    border-bottom: 0;
    border-top-color: inherit;
    border-top-width: 10px;
}

div.segmentdisplay > div.segmenty{
    width: 0px;
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    border-left-width: 0px;
}

div.segmentdisplay > div.segmenty:after{
    margin-left: 10px;
    margin-top: -10px;
    border-left-width: 10px;
    border-right-width: 0px;
}

div.segmentdisplay > div.segmentr{
    margin-left: 70px;
    margin-top: -70px;
    margin-bottom: 10px;
}

div.segmentdisplay > div.segmenth{
    margin-top: -20px;
}