

div.segmentdisplay{
    width: 10px;
    height: 10px;
    border-color: red;
    margin-right: 16px;
    margin-right: 13px;
    margin-left: 3px;
    display: inline-block;
}



/* Scaling is done here, the values can be adjusted to make displays of specific sizes. The JavaScript scaling function doesn't work yet because I don't know how to apply it to all the after pseudo elements yet. */

div.segmentdisplay > div{
    border-width: 3px;
}

div.segmentdisplay > div.segmentx, div.segmentdisplay > div:nth-child(3n + 1){
    margin-left: 3px;
    /* border-color: aqua; */
}

div.segmentdisplay > div.segmentx:after, div.segmentdisplay > div:nth-child(3n + 1):after{
    margin-top: 3px;
    margin-left: -3px;
    border-top-width: 3px;
}

div.segmentdisplay > div.segmenty:after{
    margin-top: -3px;
    margin-left: 3px;
    margin-bottom: -3px;
    border-left-width: 3px;
}

div.segmentdisplay > div.segmentr{
    margin-left: 16px; /* Width plus 2 times the weight */
    margin-top: -16px; /* Negative height plus 2 times the weight */
}

div.segmentdisplay > div.segmenth{
    margin-top: -3px; /* 2 times the weight */
}

/* Fixed styles, these don't affect the clock for customisation but are required for it to look right so we don't need to modify these. */

div.segmentdisplay > div{
    display: block;
    border-style: solid;
    border-color: inherit;
    width: inherit;
    height: inherit;
}

div.segmentdisplay > div:after{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border: inherit;
    /* opacity: inherit; */
}

div.segmentdisplay > div.segmentx, div.segmentdisplay > div:nth-child(3n + 1){
    height: 0 !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-width: 0 !important;
}

div.segmentdisplay > div.segmentx:after, div.segmentdisplay > div:nth-child(3n + 1):after{
    border-bottom: 0 !important;
    border-top-color: inherit;
}

div.segmentdisplay > div.segmenty{
    width: 0 !important;
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    border-left-width: 0 !important;
}

div.segmentdisplay > div.segmenty:after{
    border-right-width: 0 !important;
}

div.segmentdisplay > div:nth-child(4):after{
    margin-top: 3px;
    border-top-width: 3px;
    margin-left: -3px;
    border-bottom-width: 0;
}

div.segmentdisplay.singular > div:first-child{
    margin-top: 3px;
    border-top-width: 3px;
    margin-left: -3px;
    border-bottom-width: 0;
}