#browserform {
  height: 23px;
  display: flex;
}

#browserform > input {
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

iframe {
  height: 100%;
}