
html, body {
    margin:0;
    height:100%;
    background: transparent;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 6px;
    table-layout: fixed;
}

/* display row stays minimal */
#displayRow td {
    height: 1px;
    padding: 0;
}

/* display */
input {
    width:100%;
    box-sizing:border-box;
    font-size:32px;
    text-align:right;
    border-radius:5px;
}

/* buttonpad cells */
table button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

tr {
    height: 20%;
}

td {
    height: 100%;
}