
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

table, input {
  display: block;
  width: 100%;
  height: 100%;
}

table {
  padding: 3px;
}

tbody, tr {
  display: flex;
  width: 100%;
  height: 100%;
}

tbody {
  flex-direction: column;
}

td {
  padding: 1px;
  width: 100%;
}

output {
  margin: 10px;
  margin-bottom: 0;
  padding: 5px;

}

output, button, input[type=button] {
  background-color: #ffffff38;
  border-radius: 5px;
  border: 1px solid #ffffff70;
}

button, input[type=button] {
  border: none;
}