
table {
	font-size: 20px;
	border: 1px solid #aaa;
	font-family: sans-serif;

	border-collapse: collapse;
	border-spacing: 0;
}

tr {
	background-color: green;
}

td {
	background-color: blue;
	width: 40px;
	height: 40px;
	text-align: center;
	user-select: none;
	font-size: 20px;
	border: 1px solid #aaa;
	font-family: sans-serif;
	cursor: pointer;
}

.cell-top { border-top: 3px solid black; }
.cell-left { border-left: 3px solid black; }
.cell-right { border-right: 3px solid black; }
.cell-bottom { border-bottom: 3px solid black; }