
div.segment{
    width: 50px;
    height: 50px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    display: block;
}

div.segment:after{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    border: inherit;
}

div.segmentx{
    height: 0px;
    margin-left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

div.segmenty{
    width: 0px;
    margin-left: -10px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

div.segmentx:after{
    margin-left: -10px;
    margin-top: 10px;
    border-bottom: 0;
    border-top-color: black;
}

div.segmenty:after{
    margin-left: 10px;
    margin-top: -10px;
    border-left-color: black;
    border-right-color: transparent;
}