
div.segmentx{
    height: 0px;
    width: 72px;
    border-color: black;
    margin-left: 10px;
    border-width: 10px;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

div.segmentx:after{
    content: "";
    height: inherit;
    width: inherit;
    position: absolute;
    display: block;
    margin-left: -10px;
    margin-top: 10px;
    border: inherit;
    border-bottom: 0;
    border-top-color: black;
}

div.segmenty{
    margin-left: -10px;
    height: 72px;
    width: 0px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}

div.segmenty:after{
    content: "";
    height: inherit;
    width: inherit;
    position: absolute;
    display: block;
    margin-left: 10px;
    margin-top: -10px;
    border: inherit;
    /* border-bottom: 0; */
    border-left-color: black;
    /* border-left-color: black; */
    border-right-color: transparent;
}