html, body{
    margin: 0;
}
#dock{
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 300px;
    z-index: 10000;
    overflow: hidden;
    transform-origin: top;
    border-radius: 5px;
    left: 50%; /* This method of centering the absolute element works for Internet Explorer 11 */
    transform: rotateX(45deg) translateX(-50%);
    background-color: lightgray;
    perspective: 300px;
    box-shadow: 0 0 10px black;
    background: linear-gradient(0deg, #b2b2b2, #737373);
}

#reflection{
    transform: scaleY(-1) rotateX(45deg)/*rotateX(325deg)*/;
    transform-origin: top;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

body[blur] #reflection{
    filter: blur(2px);
}

body:not([blur]) dialog > article{
    backdrop-filter: none;

}

#reflection > *{
    opacity: 0.3;
}

#desktop{
    background-color: orange;
    bottom: 0;
    position: absolute;
    height: 100%;
    pointer-events: none;
    overflow: visible;
    transform-style: preserve-3d;
    transition: all 1000ms ease-in-out;
    transition: all 600ms ease-out;
    width: 100%;
}

#desktop img{
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#wallpaper{
    background-color: orange;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#windows, #metro{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#windows{
    overflow: hidden;
    perspective: 300px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
    pointer-events: none;
    overflow: hidden;
    /*Kenia*/
}

#metro{
    height: 100%;
    width: 100%;
    background: green;
}

#metro > *{
    height: 100%;
    width: 100%;
}

#metro > article{
    pointer-events: none;
}


#windows, #metro{
    transition: opacity 50ms ease-out 200ms;
}

#desktop[flipped]>#metro{
    animation: forwards 1s ease-in flip;
}

#desktop[flipped]>#windows{
    animation: forwards 1s ease-in flip;
}


#desktop[flipped], #metro{
    transform: rotateY(180deg);
}

#desktop[flipped] > #windows{
    translate: 0 0 1px;
    opacity: 0;
}

#desktop[flipped] > #metro{
    opacity: 1;
}

#desktop:not([flipped]) > #windows{
    opacity: 1;
}

#desktop:not([flipped]) > #metro{
    translate: 0 0 -1px;
    opacity: 0;
}

aside#charms{
    animation: none;
    position: fixed;
    /* right: 0; */
    top: 0;
    right: -300px;
    /* transition: all 1s ease-in-out; */
    transition: all 400ms cubic-bezier(0.36, 0.15, 0.22, 0.95);
    transition: all 456ms cubic-bezier(0.53, 0.01, 0.27, 1);
    background-color: green;
/* /    opacity: 1; */
    width: 300px;
    height: 100%;
}

aside#charms.open{
    /* animation: none; */

    /* transition: all 1s ease-in-out; */


    /* background-color: green; */
    right: 0;

}

@media (pointer:none), (pointer:coarse){

}

@media only screen and (max-width: 300px), (pointer:none), (pointer:coarse){
    #desktop{ transform: rotateY(180deg) !important }
    
    #windows{
        translate: 0 0 1px;
        opacity: 0 !important;
    }

    #metro{
        translate: none !important;
        opacity: 1 !important;
    }
}

@keyframes metroflip{
    from{
        transform: rotateY(180deg);
        opacity: 1;
    }
    to{
        translate: 0 0 -1px;
        opacity: 0;
    }
}

@keyframes flop{
    to{
        transform: rotateY(180deg);
        opacity: 1;
    }
    from{
        translate: 0 0 1px;
        opacity: 0;
    }
}