
/***************************\
 * General design by Lasse *
 * Copyright: Lasse © 2023 *
 * Modified on: 18/06/2026 *
\***************************/

* {
    transition: color 100ms ease-in-out, background-color 90ms ease-out;
}

h1 {
    margin: 0;
}

button, .button, input, select {
    cursor: pointer;
	background-color: #ffffff38;
	border: 1px solid #ffffff70;
	border-radius: 5px;
    user-select: none;
}

.blur button,
.blur .button,
.blur input:not([type="range"]),
.blur select {
    backdrop-filter: blur(10px);
}

button:hover,
.button:hover,
select:hover {
    background-color: #ffffff2b;
}

button:active,
.button:active {
    background-color: #0000002b;
}

input[type="number"] {
    appearance: unset;
    -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {

    * {
        color: white;
    }

    button, .button, input, select {
        border-color: #cecece3a;
        background-color: #0000;
    }
}