
/***************************\
 * General design by Lasse *
 * Copyright: Lasse © 2023 *
 * Modified on: 06/06/2026 *
\***************************/

button,
.button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    cursor:pointer;
	background-color: #ffffff38;
	border: 1px solid #ffffff70;
	border-radius: 5px;
    color: black;
}

@media screen {
    
}

@media (prefers-color-scheme: dark) {
    button,
    .button {
        border-color: rebeccapurple;
        background-color: black;
        color: white;
    }
}