
#launchpad, .launchpad {
	transition: transform 1s linear;
}

#launchpad > ul {
	display: flex;
	margin: 0;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-evenly;

	height: 100%;
	overflow: scroll;
}
/* Disable the close btn */
#launchpad > button {
	display: none;
}

#launchpad li {
	display: block;

	/* width: 25%; */
	

	padding: 10px;
}

#launchpad li button {
	width: 70px;
	height: 70px;

	border-radius: 20px;
}

#launchpad label {
	width: 70px;
	display: block;
	text-align: center;
	text-overflow: ellipsis;
    overflow: hidden;
}

#launchpad.open, #main-frame {
	pointer-events: auto;
}

#launchpad:not(.open) {
	transform: scale(0.5);
	pointer-events: none;
}
