/*
*
 *
  *   Provisioned app styling
  *   Lasse Lauwerys © 2024
 *
*/

form#applist{
    flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 2rem; */
    flex-wrap: nowrap;
}

#console form, #metro > article > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

table{
    width: 100%;
}

table > tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.123);
}

table > tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.123);
}

input{
    pointer-events: auto !important;
}