
/* .window themes */

.window.rounded-corners{
    border-radius: 10px !important;
}

.window.rounded-corners > content > article {
    border-radius: 5px;
}

.window.sharp-corners{
    border-radius: 0px !important;
}