
/* .window themes */

.window.rounded-corners {
    border-radius: 10px !important;
}

.window.rounded-corners > content > article {
    border-radius: 5px;
}

.window.sharp-corners {
    border-radius: 0px !important;
}

.default-theme .window > content > article {
    border: inherit;

}

.default-theme .window > content > article > iframe {
    background-color: rgba(0, 0, 0, 0.267);
    box-shadow: inset 0px 0px 10px black;
}

.default-theme .window content {
    background-color: white;
}

.windows-11 .window content {

}

.windows-11 .window content {
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.267);
}

.windows-11 .window header section {
    border-radius: 0;
    background-color: unset;
}

.windows-11 .window article {
    background-color: rgb(25, 25, 25);
}

@media (prefers-color-scheme: dark) {

    .windows-11 .window content {
        background-color: rgb(32, 32, 32);
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.267);
    }

    .windows-11 .window header section {
        border-radius: 0;
        background-color: unset;
    }

    .windows-11 .window article {
        background-color: rgb(25, 25, 25);
    }
}